<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<table th:fragment="itemsFactura" class="d-none">
		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}">
				<td>{NUMERO}</td>
				<td>{REFERENCIA}</td>
				<td>{ASUNTO}</td>
				<td>{FECHA}</td>
				<td><a class="btn btn-success btn-xs"
					th:href="@{/detalle/ver/} + ${'{ID}'}"
					th:text="'Ver Cotizacion'"></a></td>
				<td><a class="btn btn-danger btn-xs"
					th:href="@{/detalle/eliminar/} + ${'{ID}'}"
					th:text="'Eliminar'"
					onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
			</tr>
		</tbody>

	</table>
</body>
</html>