<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header"></div>
			<div class="card-body">
				<h5 class="card-title">
					Lo sentimos <span th:text="${#httpServletRequest.remoteUser}">
						</span>,no tiene permisos para acceder a este recurso
				</h5>
			
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>