<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<small class="form-text text-danger" th:text="${unico}"></small>
				<form th:action="@{/facturacion/pago}" th:object="${facturacion}"
					method="post" enctype="multipart/form-data">
					<input type="hidden" th:value="${facturacion.total}" id="tot" />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Porcentaje del nuevo pago'"></label>
						<div class="col-sm-6">
							<!-- if porcentaje=10-->
							<!-- if porcentaje=10 -->
							<select th:if="${porcentaje}=='10'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
								<option value="50">50%</option>
								<option value="60">60%</option>
								<option value="70">70%</option>
								<option value="80">80%</option>
								<option value="90">90%</option>
							</select>
							<!-- if porcentaje=20 -->
							<!-- if porcentaje=20 -->
							<select th:if="${porcentaje}=='20'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
								<option value="50">50%</option>
								<option value="60">60%</option>
								<option value="70">70%</option>
								<option value="80">80%</option>
							</select>
							<!-- if porcentaje=30 -->
							<!-- if porcentaje=30 -->
							<select th:if="${porcentaje}=='30'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
								<option value="50">50%</option>
								<option value="60">60%</option>
								<option value="70">70%</option>
							</select>
							<!-- if porcentaje=40 -->
							<!-- if porcentaje=40 -->
							<select th:if="${porcentaje}=='40'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
								<option value="50">50%</option>
								<option value="60">60%</option>
							</select>
							<!-- if porcentaje=50 -->
							<!-- if porcentaje=50 -->
							<select th:if="${porcentaje}=='50'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
								<option value="50">50%</option>
							</select>
							<!-- if porcentaje=60 -->
							<!-- if porcentaje=60 -->
							<select th:if="${porcentaje}=='60'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
							</select>
							<!-- if porcentaje=70 -->
							<!-- if porcentaje=70 -->
							<select th:if="${porcentaje}=='70'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
							</select>
							<!-- if porcentaje=80 -->
							<!-- if porcentaje=80 -->
							<select th:if="${porcentaje}=='80'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
							</select>
							<!-- if porcentaje=90 -->
							<!-- if porcentaje=90 -->
							<select th:if="${porcentaje}=='90'" name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
							</select> <label id="infototal"></label>
							<small
								class="form-text text-danger" th:text="${mensaje3}"></small>
						</div>

					</div>


					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Archivo</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" /> <small
								class="form-text text-danger" th:text="${mensaje2}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar Pago'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs"
							th:href="@{/facturacion/editar/} + ${facturacion.id}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="porcentaje/js/calcular-pago :: javascript"></script>
</body>
</html>