<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<small class="form-text text-danger" th:text="${unico}"></small>
				<form th:action="@{/facturacionsin/pedido}"
					th:object="${facturacion}" method="post"
					enctype="multipart/form-data">


					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'No. Pedido'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{pedido}" class="form-control"
								th:errorclass="'form-control is-invalid'" /> <small
								class="form-text text-danger" th:text="${ped}"></small>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'No. Proceso'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{proceso}" readonly="readonly"
								class="form-control" />

						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Tipo de Moneda'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{moneda}" class="form-control"
								th:errorclass="'form-control is-invalid'" /> <small
								class="form-text text-danger" th:text="${mon}"></small>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Subtotal'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{subtotal}" class="form-control"
								th:errorclass="'form-control is-invalid'" id="subt" /> <small
								class="form-text text-danger" th:text="${sub}"></small>

						</div>
						<input type="button" id="calculo" value="Calcular Total" />
					</div>


					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Total'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{total}" class="form-control"
								th:errorclass="'form-control is-invalid'" id="tot" /> <small
								class="form-text text-danger" th:text="${tot}"></small>
						</div>
					</div>

					<input type="hidden" th:field="*{id}" class="form-control" />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Porcentaje por el cual se realiza la factura'"></label>
						<div class="col-sm-6">
							<select name="porcentaje" id="porcen">
								<option>Elige una opcion</option>
								<option value="10">10%</option>
								<option value="20">20%</option>
								<option value="30">30%</option>
								<option value="40">40%</option>
								<option value="50">50%</option>
								<option value="60">60%</option>
								<option value="70">70%</option>
								<option value="80">80%</option>
								<option value="90">90%</option>
								<option value="100">100%</option>
							</select> <label id="infototal"></label> <small
								class="form-text text-danger" th:text="${mensaje3}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Archivo</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" /> <small
								class="form-text text-danger" th:text="${mensaje2}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/facturacionsin/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="porcentaje/js/calcular-total :: javascript"></script>
</body>
</html>