<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/asistencia/rango2}" method="post">

					<div class="form-group row">


						<div class="col-sm-6">
							<input type="date" name="fecha" id="fecha" class="form-control" />
							<small class="form-text text-danger" th:text="${mensaje2}"></small>
						</div>

						<div class="col-sm-6">
							<input type="date" name="fecha2" id="fecha2" class="form-control" />
							<small class="form-text text-danger" th:text="${mensaje3}"></small>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Buscar'"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>


				<table th:replace="factura/plantilla-items8 :: itemsFactura"></table>

				<table id="cargarItemAsistencia"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Fecha</th>
							<th>Hora Entrada</th>
							<th>Estatus</th>
							<th>Empleado</th>
							<th>Hora salida</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					<tbody id="plantillaItemsAsistencia2">
						<tr th:each="asistencia: ${asistencia}">
							<td th:text="${asistencia.fecha}"></td>
							<td th:text="${asistencia.hora_entrada}"></td>
							<td th:text="${asistencia.estatus}"></td>
							<td
								th:text="${asistencia.empleado.nombre} +' '+ ${asistencia.empleado.apellido_ma} +' '+ ${asistencia.empleado.apellido_pa}"></td>
							<td th:text="${asistencia.hora_salida}"></td>

						</tr>
					</tbody>
				</table>
				<h4 class="card-title">
					<a class="btn btn-light btn-xs" th:href="@{/asistencia/}"
						th:text="'&laquo;volver'"></a>
				</h4>
			</div>
		</div>


	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax" th:value="@{'/asistencia/cargar-fecha/'}"/>
	<script th:replace="factura/js/autocomplete-asistencia :: javascript"></script>
</body>
</html>