<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/asistencia/busqueda2}" method="post">


					<div class="form-group row">
						<label for="buscar_cotizacion" class="col-sm-2 col-form-label"
							th:text="'Ingresa el nombre del empleado'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_empleado" id="buscar_empleado"
								class="form-control" /> <small
								class="form-text text-danger" th:text="${mensaje1}"></small>
						</div>
					</div>


					<table th:replace="factura/plantilla-items7:: itemsFactura"></table>

					<table id="cargarItemEmpleados"
						class="table table-striped table-bordered">
						<thead class="thead-inverse">
							<tr>
								<th>Nombre</th>
								<th>Paterno</th>
								<th>Materno</th>
								<th>Foto</th>
								<th>Puesto</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
						<tbody id="plantillaItemsEmpleados2">
						</tbody>
					</table>

					<br /> <br /> <br />


					<div class="form-group row">


						<div class="col-sm-6">
							<input type="date" name="fecha" id="fecha" class="form-control" />
							<small class="form-text text-danger" th:text="${mensaje2}"></small>
						</div>
						
						<div class="col-sm-6">
							<input type="date" name="fecha2" id="fecha2" class="form-control" />
							<small class="form-text text-danger" th:text="${mensaje3}"></small>
						</div>
					</div>
					
					
					
					
					

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Buscar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/asistencia/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>

				<table id="cargarItemAsistencia"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Fecha</th>
							<th>Hora Entrada</th>
							<th>Estatus</th>
							<th>Hora salida</th>

						</tr>
					</thead>
					<tbody>

					</tbody>
					<tbody id="plantillaItemsAsistencia2">
						<tr th:each="asistencia: ${asistencia}">
							<td th:text="${asistencia.fecha}"></td>
							<td th:text="${asistencia.hora_entrada}"></td>
							<td th:text="${asistencia.estatus}"></td>
							<td th:text="${asistencia.hora_salida}"></td>

						</tr>
					</tbody>
				</table>
				<br/><br/>
				Asistencias: <label th:text="${asistencias}"></label>   &nbsp; Retardos: <label th:text="${retardos}"></label>  &nbsp; Faltas: <label th:text="${faltas}"></label>   

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax" th:value="@{'/empleados/cargar-nombre/'}"/>
	<script th:replace="factura/js/autocomplete-empleado2 :: javascript"></script>
</body>
</html>