<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header"
				th:text="${factura.cotizacion.empresa_catalogo.nombre} "></div>
			<div class="card-body">

				<form th:action="@{/concluir/form}" th:object="${factura}"
					method="post">

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="'Ingresa el nombre del producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>

					<table th:replace="factura/plantilla-items :: itemsFactura"></table>

					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Existencia en Inventario</th>
								<th>Subtotal</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<h5>
						Total <span class="badge badge-secondary" id="gran_total">0</span>
					</h5>



					<br />
					<h2 class="card-title" th:text="'Términos'"></h2>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Lugar y condiciones de entrega'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{lugar}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Condiciones de pago'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{condiciones}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('condiciones')}"
								th:errors="*{condiciones}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Programa de entrega'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{programa}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('programa')}" th:errors="*{programa}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Certificado de materiales'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{certificado}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('certificado')}"
								th:errors="*{certificado}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Vigencia de los precios de la oferta'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vigencia}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('vigencia')}" th:errors="*{vigencia}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Estandares y especificaciones'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{estandares}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('estandares')}"
								th:errors="*{estandares}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label"
							th:text="'Terminos no incluidos'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{terminos}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('terminos')}" th:errors="*{terminos}"></div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/concluir/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax" th:value="@{'/concluir/cargar-productos/'}"/>
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
</body>
</html>