<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/asistencia/crear}" th:object="${asistencia}"
					method="post">


					<div class="form-group row">
						<label for="buscar_cotizacion" class="col-sm-2 col-form-label"
							th:text="'Ingresa el nombre del empleado'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{empleado}" name="buscar_empleado"
								id="buscar_empleado" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}"></div>
						</div>
					</div>


					<table th:replace="factura/plantilla-items7:: itemsFactura"></table>

					<table id="cargarItemEmpleados"
						class="table table-striped table-bordered">
						<thead class="thead-inverse">
							<tr>
								<th>Nombre</th>
								<th>Paterno</th>
								<th>Materno</th>
								<th>Foto</th>
								<th>Puesto</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
						<tbody id="plantillaItemsEmpleados2">
						</tbody>
					</table>

					<br /> <br /> <br />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Hora de entrada'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{hora_entrada}"
								class="form-control" th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('hora_entrada')}"
								th:errors="*{hora_entrada}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'Estatus'"></label>
						<div class="col-sm-6">
							<select name="asistencia" id="porcen" th:field="*{estatus}"
								th:errorclass="'form-control is-invalid'">
								<option value="">Elije una opcion</option>
								<option value="asistencia">Asistencia</option>
								<option value="inasistencia">Inasistencia</option>
								<option value="retardo">Retardo</option>
							</select>
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}"></div>
						</div>

					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="'Guardar'"
								class="btn btn-secondary" />
						</div>
					</div>
					<h4 class="card-title">
						<a class="btn btn-light btn-xs" th:href="@{/asistencia/}"
							th:text="'&laquo;volver'"></a>
					</h4>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax" th:value="@{'/empleados/cargar-nombre/'}"/>
	<script th:replace="factura/js/autocomplete-empleado2 :: javascript"></script>
</body>
</html>