<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="Opciones"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/catalogo/crear}" class="btn btn-primary btn-xs">Nueva
						Empresa</a> <a th:href="@{/catalogo}" class="btn btn-primary btn-xs">Mostrar
						Empresas</a>
				</h4>
				<div class="form-group row">
					<label for="buscar_empresa" class="col-sm-2 col-form-label"
						th:text="'Ingresa el nombre de la empresa'"></label>
					<div class="col-sm-6">
						<input type="text" name="buscar_empresa" id="buscar_empresa"
							class="form-control" />
					</div>
				</div>


				<table th:replace="factura/plantilla-items3 :: itemsFactura"></table>

				<table id="cargarItemEmpresas"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Nombre</th>
							<th>Direccion</th>
							<th>Telefono</th>
							<th>Pagina web</th>
							<th>Imagen</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tbody id="plantillaItemsFactura2">
						<tr th:each="empresa: ${empresa}">

							<td th:text="${empresa.nombre}"></td>
							<td th:text="${empresa.direccion}"></td>
							<td WIDTH="100" HEIGHT="100" th:text="${empresa.telefono}"></td>
							<td th:text="${empresa.paginaweb}"></td>
							<td WIDTH="200" HEIGHT="50"><img
								
								style="max-width: 60%;"
								th:src="@{'/uploads/' + ${empresa.foto}}" /></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/catalogo/vista/} + ${empresa.id}" th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/catalogo/eliminar/} + ${empresa.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

						</tr>
					</tbody>

				</table>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax"
		th:value="@{'/facturas/cargar-catalogo/'}"/>
	<script th:replace="factura/js/autocomplete-catalogo2 :: javascript"></script>
</body>
</html>