<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="Opciones"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/facturacionsin/crear}"
						class="btn btn-primary btn-xs">Nueva Facturacion Sin pedido</a> <a
						th:href="@{/facturacionsin}" class="btn btn-primary btn-xs">Mostrar
						Facturas Sin Pedido</a>
				</h4>
				<div class="form-group row">
					<label for="buscar_factura_sin" class="col-sm-2 col-form-label"
						th:text="'Ingresa el No. Proceso'"></label>
					<div class="col-sm-6">
						<input type="text" name="buscar_factura_sin"
							id="buscar_factura_sin" class="form-control" />
					</div>
				</div>

				<table th:replace="factura/plantilla-items44 :: itemsFacturasin"></table>

				<table id="cargarItemFacturassin"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>No. Pedido</th>
							<th>No. Proceso</th>
							<th>Estatus</th>
							<th>Ver</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody></tbody>
					<tbody id="plantillaItemsFactura2sin">
						<tr th:each="historial: ${historial}">
							<td><a th:if="*{historial.pedido} =='' "
								class="btn btn-success btn-xs"
								th:href="@{/facturacionsin/pedido/} + ${historial.id}"
								th:text="'Registrar Pedido'"></a> <span
								th:if="*{historial.pedido} !='' " th:text="*{historial.pedido}"></span>
							</td>
							<td th:text="${historial.proceso}"></td>
							<td th:text="${historial.estatus}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/facturacionsin/editar/} + ${historial.id}"
								th:if="*{historial.pedido} !='' " th:text="'Ver'"></a></td>


							<td><a class="btn btn-danger btn-xs"
								th:href="@{/facturacionsin/eliminar/} + ${historial.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
			<input type="hidden" id="urlAjax"
		th:value="@{'/facturacionsin/cargar-facturas/'}"/>
	<script th:replace="factura/js/autocomplete-factura2 :: javascript"></script>
</body>
</html>