<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header"
				th:text="'La informacion corresponde a la fecha de hoy'"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/asistencia/crear}" class="btn btn-primary btn-xs">Crear
						registro</a> <a th:href="@{/asistencia}"
						class="btn btn-primary btn-xs">Mostrar asistencias de Hoy</a> <a
						th:href="@{/asistencia/busqueda1}" class="btn btn-primary btn-xs">Buscar
						asistencias por empleado</a> <a th:href="@{/asistencia/rango1}"
						class="btn btn-primary btn-xs">Buscar asistencias por rango de fecha</a>
				</h4>
				<form th:action="@{/asistencia/especifico}" method="post">
					<div class="form-group row">

						<label><input type="submit" th:value="'Buscar'"
							class="btn btn-secondary" /></label>
						<div class="col-sm-6">
							<input type="date" name="fecha" id="fecha" class="form-control" />
						</div>

					</div>
				</form>


				<table th:replace="factura/plantilla-items8 :: itemsFactura"></table>

				<table id="cargarItemAsistencia"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Fecha</th>
							<th>Hora Entrada</th>
							<th>Estatus</th>
							<th>Empleado</th>
							<th>Hora salida</th>
							<th>Registrar Hora Salida</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
					<tbody id="plantillaItemsAsistencia2">
						<tr th:each="asistencia: ${asistencia}">
							<td th:text="${asistencia.fecha}"></td>
							<td th:text="${asistencia.hora_entrada}"></td>
							<td th:text="${asistencia.estatus}"></td>
							<td
								th:text="${asistencia.empleado.nombre} +' '+ ${asistencia.empleado.apellido_ma} +' '+ ${asistencia.empleado.apellido_pa}"></td>
							<td th:text="${asistencia.hora_salida}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/asistencia/vista/} + ${asistencia.id}"
								th:text="'Registrar Hora Salida'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/empleados/eliminar/} + ${asistencia.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>


	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlAjax" th:value="@{'/asistencia/cargar-fecha/'}"/>
	<script th:replace="factura/js/autocomplete-asistencia :: javascript"></script>
</body>
</html>