<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="Opciones"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/facturas/crear}" class="btn btn-primary btn-xs">Crear
						cotizacion</a> <a th:href="@{/concluir}"
						class="btn btn-primary btn-xs">Concluir cotizacion</a> <a
						th:href="@{/facturas}" class="btn btn-primary btn-xs">Mostrar Cotizaciones</a>
				</h4>
				<div class="form-group row">
					<label for="buscar_cotizacion" class="col-sm-2 col-form-label"
						th:text="'Ingresa el numero de cotizacion'"></label>
					<div class="col-sm-6">
						<input type="text" name="buscar_cotizacion" id="buscar_cotizacion"
							class="form-control" />
					</div>
				</div>
				<table th:replace="factura/plantilla-items5 :: itemsFactura"></table>



				<table id="cargarItemCotizacion"
					class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>

							<th>Numero C.</th>
							<th>Referencia</th>
							<th>Asunto</th>
							<th>Fecha</th>
							<th>Descargar</th>
							<th>Eliminar</th>

						</tr>
					</thead>
					<tbody></tbody>
					<tbody id="plantillaItemsFactura2">
						<tr th:each="factura: ${factura}">

							<td th:text="${factura.cotizacion.numero_cotizacion}"></td>
							<td th:text="${factura.cotizacion.referencia}"></td>
							<td th:text="${factura.cotizacion.asunto}"></td>
							<td th:text="${factura.fecha}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{/detalle/ver/} + ${factura.id}"
								th:text="'Ver Cotizacion'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/detalle/eliminar/} + ${factura.id}"
								th:text="'Eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>


	</div>
	<footer th:replace="layout/layout :: footer"></footer>
				<input type="hidden" id="urlAjax"
		th:value="@{'/facturas/cargar-facturas/'}"/>
	<script th:replace="factura/js/autocomplete-cotizacion :: javascript"></script>
</body>
</html>