<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4>
					<a class="btn btn-primary btn-xs"
						th:href="@{/factura/form/} + ${cliente.id}"
						th:text="'crear factura'"></a>
				</h4>
				<img th:if="${#strings.length(cliente.foto)>0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}" />
				<ul class="list-group">
					<li class="list-group-item" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(cliente.facturas)}"
					th:text="' No hay facturas para el cliente '  + ${cliente.nombre} + ' '+ ${cliente.apellido}"></div>

				<table th:if="${not #lists.isEmpty(cliente.facturas)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>

							<th>Folio</th>
							<th>Descripcion</th>
							<th>Fecha</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<th th:text="${factura.id}"></th>
							<th th:text="${factura.descripcion}"></th>
							<th th:text="${factura.createAt}"></th>
							<th th:text="${factura.Total}"></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>