<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header"
				th:text="${factura.cotizacion.empresa_catalogo.nombre} "></div>

			<div class="card-body">
				<a class="btn btn-success btn-xs"
					th:href="@{'/uploads/' + ${factura.archivo}}" th:text="'Word'"
					target="_blank"></a> <img
					
					class="img-thumbnail rounded float-right" style="max-width: 29%;"
					th:src="@{'/uploads/' + ${factura.cotizacion.empresa_local.foto}}" />
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos de la factura'"></li>
					<li class="list-group-item"
						th:text="'No. cotización:' + ${factura.cotizacion.numero_cotizacion}"></li>
					<li class="list-group-item"
						th:text="'Su Referencia: ' + ${factura.cotizacion.referencia}"></li>
				</ul>
				<br />

				<table>
					<thead>
						<tr>
							<th><img
								
								class="img-thumbnail rounded float-left" style="max-width: 30%;"
								th:src="@{'/uploads/' + ${factura.cotizacion.empresa_catalogo.foto}}" /></th>
							<th></th>
							<th></th>
							<th align="right" th:text="'Edo. Mexico'+' '+ ${factura.fecha}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><p ALIGN="left"
									th:text="${factura.cotizacion.empresa_catalogo.nombre +  factura.cotizacion.empresa_catalogo.direccion}" />

							</td>

						</tr>
						<tr>
							<td><p ALIGN="left"
									th:text="${factura.cotizacion.cargo_nombre + ' '+ factura.cotizacion.departamento +' '+  factura.cotizacion.correo}" />

							</td>
						</tr>
					</tbody>

				</table>

				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th align="right"
								th:text="'Asunto:'+' '  +${factura.cotizacion.asunto}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><p ALIGN="left"
									th:text="' Estimado :'+' ' +${factura.cotizacion.cargo_nombre}" />

							</td>

						</tr>
						<tr>
							<td><p ALIGN="left"
									th:text="'Por este medio, tengo el agrado de presentar nuestro ajuste a la oferta Comercial para el servicio de: '+' ' +${factura.cotizacion.asunto}" />

							</td>
						</tr>
						<tr>
							<td><p ALIGN="left" th:text="'ATENTAMENTE'" /></td>

						</tr>
						<tr>
							<td><p ALIGN="left"
									th:text="${factura.cotizacion.empresa_local.nombre}" /></td>
						</tr>
						<tr>
							<td><p ALIGN="left"
									th:text="'Ing. Martín Márquez Moreno Gerente de Ingeniería'" />

							</td>
						</tr>

					</tbody>

				</table>


				<table th:if="${not #lists.isEmpty(factura.items)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${factura.items}">
							<td th:text="${linea.producto.nombre}"></td>
							<td th:text="${linea.producto.precio}"></td>
							<td th:text="${linea.cantidad}"></td>
							<td th:text="${linea.CalcularImporte()}"></td>
						</tr>
					</tbody>

				</table>

				<h5 class="float-right">
					Gran Total <span th:text="${factura.total}"
						class="badge badge-secondary"></span> <span
						th:text="${factura.letra}" class="badge badge-secondary"></span>
				</h5>

				<br />
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Términos'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${factura.id}"></li>
					<li class="list-group-item"
						th:text="'Lugar y condiciones de entrega: ' + ${factura.lugar}"></li>
					<li class="list-group-item"
						th:text="'Condiciones de pago: ' + ${factura.condiciones}"></li>
					<li class="list-group-item"
						th:text="'Programa de entrega: ' + ${factura.programa}"></li>
					<li class="list-group-item"
						th:text="'Certificado de materiales: ' + ${factura.certificado}"></li>
					<li class="list-group-item"
						th:text="'Vigencia de precios de la oferta: ' + ${factura.vigencia}"></li>
					<li class="list-group-item"
						th:text="'Estándares y especificaciones: ' + ${factura.estandares}"></li>
					<li class="list-group-item"
						th:text="'Términos no incluidos: ' + ${factura.terminos}"></li>


				</ul>

				<a th:href="@{/facturas/}" class="btn btn-light btn-xs">&laquo;
					volver</a>

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>